<html>

<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{i18n "Title"}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> common/navbar nav}}
    <main class="route-content">
        {{{body}}}
    </main>
    {{> common/footer}}
    <script src="/js/main.js"></script>
</body>
</html>
