<section class="block-search">
  <div class="container">
    <div class="row block-search-row">
      <div class="block-search-row-logo">
        <span class="icon icon-logo"></span></div>
      <div class="col-12 col-md-5 col-lg-7 align-self-center block-search-right">
        <div class="block-search-message">
          <h1 class="block-search-message-title">
            <span>{{i18n "Agent.HeroMessage"}}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="container">
  <div style="width: 300px; height: 500px;border:0.01rem solid #28aae1; border-radius:0.3rem; margin:auto">
    <iframe src="https://web.powerva.microsoft.com/environments/Default-e517378c-47aa-4aa1-b4c4-9a947b95392c/bots/new_bot_d2f44b4c79c943d4856898b91c901b61/webchat" frameborder="0" style="width: 100%; height: 100%;"></iframe>
  </div>
</main>