<html>

<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>{{i18n "Title"}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="block-search">
  <div class="container">
    <div class="row block-search-row">
      <div class="block-search-row-logo">
        <span class="icon icon-logo"></span></div>
    </div>
  </div>
</section>
<main class="container">
  {{> book/deals deals}}
</main>

    <script src="/js/main.js"></script>
</body>
</html>